<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <!-- General -->
  <category label="30247">
    <setting id="user_email" type="text" label="30200" default="" />
    <setting id="user_password" type="text" option="hidden" label="30201" enable="!eq(-1,)" default="" />
    <setting type="sep" /> 
    <setting id="hd_videos" type="enum" label="30208" lvalues="30210|30209" default="1" />
    <setting id="token" default="foobar" visible="false" />
    <setting type="sep" />
  </category>  
</settings>
